
<div class="container m-auto p-8">

   <div class="flex justify-start gap-5">

      <div class="flex p-8">
        <img src="<%- movie.image %>" alt="">
      </div>
      <div class="flex-1 p-8">
        <a href="/movies"> Go back</a>

        <h1><%-movie.title%></h1>
        <h2>Director: <%-movie.director%></h2>
        <h2>Stars</h2>

        <ul class="list-disc ml-5">
            <% movie.stars.forEach(star => { %>
                <li><%-star%></li>
            <% }) %>
        
        </ul>

        <p class="prose p-4">
            <%-movie.description%>
        </p>

        <% movie.showtimes.forEach(showtime => { %>
            <span><%-showtime %> |</span>
        <% }) %>
      </div> 

   </div>


</div>
